<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033320869267-lhtj8ck4p5bjrg1g0sp5hecpqu0pq1qv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033320869267-lhtj8ck4p5bjrg1g0sp5hecpqu0pq1qv</string>
	<key>API_KEY</key>
	<string>AIzaSyD29w6G4KGly6bW-TC57avMMQud6JQFqAU</string>
	<key>GCM_SENDER_ID</key>
	<string>1033320869267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chatg-a995e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chatg-a995e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033320869267:ios:21995230d61542c63a0c66</string>
</dict>
</plist>